.intro__list {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
    max-width: 690px;
    list-style: none;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin-left: calc((100vw - 768px)/(1024 - 768)*(0 - 24) + 24px);
        max-width: calc((100vw - 768px)/(1023 - 768)*(690 - 720) + 720px);
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
        max-width: calc((100vw - 320px)/(768 - 320)*(690 - 288) + 288px);
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin-left: 16px;
        margin-right: 16px;
        max-width: 100%;
    }
}