.footer-links__link {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    text-decoration: none;
}

.footer-links__link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease;
}

@media screen and (max-width: 768px) {
    .footer-links__link {
        font-size: calc((100vw - 320px)/(768 - 320)*(16 - 24) + 24px);
    }
}

@media screen and (max-width: 320px) {
    .footer-links__link {
        font-size: 24px;
    }
}