.website {
    align-self: end;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
    .website {
        margin-left: 16px;
        margin-right: 16px;
    }
} 

@media screen and (max-width: 320px) {
    .website {
        margin-left: 16px;
        margin-right: 16px;
    }
} 