.footer-links {
    margin: 0;
    width: 100%;
    max-width: 465px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 18px;
    margin-right: 12px;
}

@media screen and (max-width: 768px) {
    .footer-links {
        padding-bottom: calc((100vw - 320px)/(768 - 320)*(0 - 48) + 48px);
    }
}

@media screen and (max-width: 320px) {
    .footer-links {
        max-width: 160px;
        padding-bottom: 48px;
    }
}