.cover__title {
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc((100vw - 320px)/(768 - 320)*(72 - 32) + 32px);
        line-height: calc((100vw - 320px)/(768 - 320)*(106 - 109) + 109%);
        max-width: calc((100vw - 320px)/(768 - 320)*(560 - 288) + 288px);
    }
}

@media screen and (max-width: 320px) {
   .cover__title {
        font-size: 32px;
        line-height: 109%;
        max-width: 288px;
   }
}