.footer {
    width: 100%;
    max-width: 928px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
    }
}

@media screen and (max-width: 1280px) {
    .footer {
        max-width: calc((100vw - 1024px)/(1280 - 1024)*(1184 - 928) + 928px);
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc((100vw - 768px)/(1024 - 768)*(928 - 720) + 720px);
        margin-left: calc((100vw - 768px)/(1024 - 768)*(48 - 24) + 24px);
        margin-right: calc((100vw - 768px)/(1024 - 768)*(48 - 24) + 24px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc((100vw - 320px)/(768 - 320)*(720 - 288) + 288px);
        margin-left: calc((100vw - 320px)/(768 - 320)*(24 - 16) + 16px);
        margin-right: auto;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 288px;
        margin-left: 16px;
    }
}