.intro__title {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 40px;
    margin: 0;
    max-width: 690px;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {
    .intro__title {
        margin-left: 24px;
        margin-right: 24px;
    }
} 

@media screen and (max-width: 786px) {
    .intro__title {
        margin-left: 24px;
        margin-right: 24px;
        max-width: 100%;
    }
} 

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
        max-width: 100%;
    }
} 
